.container.center
	%p.header Your Notes | Blog Format.
	-unless @notes.blank?
		.row
			- @notes.each do |note|			
				.blogentry
				%a{ href: (url_for [note])}	
					.title
						%h1.black-text= note.title
						.metainfo	
							%p.black-text.center= "updated " + time_ago_in_words(note.updated_at) + " ago"	
				%p.black-text= note.content	
				.divider
		.row
			.center	
				%a= link_to "New Note", new_note_path, class: "waves-effect btn-raised btn-large"

	- else
		%p You haven't created any notes yet!
		%a= link_to "New Note", new_note_path, class: "waves-effect btn-raised btn-large"					
