.container
	%h1= @note.title
	%p.grey-text= "Last updated " + time_ago_in_words(@note.updated_at) + " ago"
	%p= @note.content

	.row.center
		= link_to "All Notes", notes_path, class: "waves-effect btn-raised btn"

		= link_to "Edit", edit_note_path(@note), class: "waves-effect btn-raised btn"

		= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?"}, class: "waves-effect btn-raised btn grey"