!!!
%html
%head
	%title Notely | Your online notebook
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	.row.headerrow
		%nav.nav-wrapper.blue-grey.darken-2
			%a{ href: (url_for '/')}
			%ul.left= link_to "Home", root_path, id: "home"
					
			- if user_signed_in?
				%ul.right= link_to "New Note", new_note_path
				%ul.right= link_to "Blog", "/blog" 
				%ul.right= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"}
			- else
				%ul.right= link_to "Log In", new_user_session_path
	- if notice
		%p.notice.flash.white-text= notice
	- elsif alert
		%p.alert.flash.white-text= alert


	.container
	= yield
